exportPattern("^[[:alpha:]]+")
import("dirmult")
import("ggplot2")
import("stats")
import("graphics")
importFrom("grDevices", "rainbow", "col2rgb", "rgb")
importFrom("foreach", "%dopar%")
importFrom("MASS", "isoMDS", "ginv")
importFrom("vegan", "postMDS", "scores", "vegdist")
importFrom("gplots", "heatmap.2")
importFrom("rpart", "rpart", "prune")
importFrom("rpart.plot", "rpart.plot")
importFrom("lattice", "dotplot", "barchart")